.login-container {
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #32a852; /* Green background color */
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    color: #32a852; /* Green text color */
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-form input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    border: none;
  }
  
  .login-form button {
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: #32a852; /* Green button color */
    color: white;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #258e45; /* Darker green on hover */
  }
  