/* MainContent.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.basketball {
  background-image: url("basketball.jpg");
  cursor: pointer;
  /* Add other styles for basketball turf */
}

.football {
  background-image: url("./football.jpg");
  /* Add other styles for football turf */
  background-size: cover;
  background-repeat: no-repeat;
}

.volleyball {
  background-image: url(volleyball.jpg);
  /* Add other styles for volleyball turf */
}

/* Add styles for other turf containers */

.main-content {
  padding: 20px;
}

.head {
  height: 300px;
  background-image: url(headerturf.jpg);
  margin-bottom: 8px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head h1 {
  padding: 15px;
  font-size: 65px;
  color: #fff;
  background: #000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.random-turfs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-bottom: 20px;
  grid-auto-rows: 200px;
}

.turf-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* background-color: #e2d9d9; */
  background-size: cover;
  padding: 0px;
  border-radius: 10px;
  align-items: center;
  color: #191818;
  cursor: pointer;
}

.turf-container h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.turf-container p {
  font-size: 14px;
  margin-bottom: 5px;
}

.turf-details{
  width: 100%;
  background-color: #00000084;
  /* opacity: 0.5; */
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: .7rem 0;
}

.search-bar {
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.search-bar input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  margin-right: 10px;
}

.search-bar button {
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.listing {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-bottom: 20px;
}

.listing h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.listing p {
  font-size: 14px;
  margin-bottom: 5px;
}

.listing button {
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.localities {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.localities div {
  background-color: #f2f2f2;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.localities h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

p {
  font-size: 14px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 5px;
}
