.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #32a852; /* Green background color */
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    color: #333; /* Gray text color */
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-form input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    border: none;
  }
  
  .login-form button {
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: #32a852; /* Green button color */
    color: white;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #258e45; /* Darker green on hover */
  }
  
  .login-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .register-button,
  .google-login-button {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    color: #32a852; /* Green text color */
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
  }
  
  .google-logo {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }
  